h1 {text-align: center;}
h2 {text-align: center;}
#footer {text-align: center;}

.tooltip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: #011c3a;
  border-radius: 4px;
} 

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #011c3a;
  /* fill: #551aaf; */
  text-anchor: middle;
}
